!!! 5
%html
  %head
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    %meta(name="viewport" content="width=1024, height=768, initial-scale=1.0, user-scalable=no")
    %link(href="http://fonts.googleapis.com/css?family=Ubuntu:500,400,300&subset=latin,cyrillic"
          rel="stylesheet" type="text/css")
    = stylesheet_link_tag "vk"
    = javascript_include_tag "vk"
  %body
    %a(href="javascript:window.location.reload()" style="position: absolute; right: 10px; top: 20px") reload
    #greet Loading

